{% extends "base.html" %}
{% load action_tags %}

{% block head %}
    {{ filter.form.media.css }}
{% endblock head %}

{% block menu-inline %}
    <li class="nav-item base">
                    <h5>
                        <a class="nav-link" href="{% url 'characterclass_list' %}">Classes</a>
                    </h5>
    </li>
    {% if object.pk %}
    <li class="nav-item base">
        <h5>
            <a class="nav-link" href="{% url 'characterclass_delete' object.pk %}">Delete {{object.name}}</a>
        </h5>
    </li>
    {% endif %}
{% endblock menu-inline %}
{% block content %}
<div class="container"><h3>Character Class</h3>
<div class="row"><div class="col">
<form class="card" action="{% if object.pk %} {% url 'characterclass_detail' object.pk %} {%else%} {% url 'characterclass_create' %}{% endif %}" method="post">
{% csrf_token %}
    <div class="form-group card-body">
        <div>{{ form.name }}</div>
        <div>&nbsp;</div>
        <div class='row'>
            <div class="col base">
                <h3>{{form.schtick_list.label}}<span class="nav-link badge"><a class="base nav-item" href="{% url 'schticktype_create' %}">New</a></span></h3>
            </div>
            <span class="col-12" type="button" data-toggle="collapse" data-target="#schtickTypeCollapse" aria-expanded="false" aria-controls="schtickTypeCollapse">
                <h3>{% for item in object.schtick_list.all %}<a class="badge badge-primary hollow" href="{% url 'schticktype_detail' item.pk%}">{{item}}</a> {% endfor %}</h3></span>
            <div class="col card {% if object.schtick_list.all %}collapse{% endif%}" id="schtickTypeCollapse">
                {{form.schtick_list}}
            </div>
        </div>
        <div>
        <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </div>
</form></div>
    <div class="container">
        <h3>Class Entries</h3>
        <table class="table table-striped">
            {% for item in class_entries %}
            <tr class="row table-row">
                <td class="col-2"><a href="{% url 'classentry_detail_from_class' item.pk object.pk %}">Edit</a>
                <a href="{% url 'classentry_delete' item.pk %}">Delete</a></td>
                <td class="col-3">
                    {{item.level}}{% if item.optional %}
                    (Optional)
                    {% endif %}
                </td>
                <td class="col-6">
                    {% if item.schtick %}
                    {{item.schtick.name}}
                    {% elif item.flaw %}
                    {{item.flaw.name}}
                    {% endif %}
                    {% if item.notes %}
                    ({{item.notes}})
                    {% endif %}
                    {% if item.schtick %}
                    {% if item.divisor %}
                        ({% widthratio item.schtick.tier item.divisor 1 %})
                    {% else %}
                        ({% widthratio item.schtick.tier 2 1 %})
                    {% endif %}
                    {% elif item.flaw %}
                    (-{{item.flaw.value}})
                    {% endif %}
                </td>
                <td class="col-1">
                    {% if item.divisor %}
                     {{item.divisor}}
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            {% if object.pk %}
            <tr>
                <td><a href="{% url 'add_classentry_from_class' object.pk %}">Add class entry</a></td>
            </tr>
            {% endif %}
    </table>
    </div>
</div>
{% endblock content %}