{% extends "base.html" %}
{% load action_tags %}

{% block head %}
    {{ filter.form.media.css }}
{% endblock head %}

{% block menu-inline %}
    <li class="nav-item base">
                    <h5>
                        <a class="nav-link" href="{% url 'characterclass_list' %}">Classes</a>
                    </h5>
    </li>
    <li class="nav-item base">
                    <h5>
                        <a class="nav-link" href="{% url 'schticktype_return_create' %}">New schticktype</a>
                    </h5>
    </li>
{% endblock menu-inline %}
{% block content %}
{{ object.pk }}
<div class="main"></div>
<div class="main"></div>
<div class="container"><h3>Character Class</h3>

<form class="card row" action="{% if object.pk %} {% url 'characterclass_detail' object.pk %} {%else%} {% url 'characterclass_create' %}{% endif %}" method="post">
{% csrf_token %}
    <div class="form-group card-body">
        {% for field in form %}
            <div>{{ field.label }}{{ field }}</div>
        {% endfor %}
    <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form></div>
{% endblock content %}