{% extends "base.html" %}
{% block menu-inline %}
    <li class="nav-item base">
                    <h5>
                        <a class="nav-link" href="{% if item.pk %}{% url 'characterclass_detail' item.pk %}">{{ item.name }}</a>{% else %}{% url 'characterclass_list' %}">Classes</a>{%endif%}
                    </h5>
    </li>
    {% if object.pk %}
    <li class="nav-item base">
        <h5>
            <a class="nav-link" href="{% url 'classentry_delete' object.pk %}">Delete {{object}}</a>
        </h5>
    </li>
    {% endif %}
{% endblock menu-inline %}
{% block content %}
{{item}} / {{object}}
<div class="container"><h3>{{object.name}}</h3>
<form class="card row" action="{% if object and item %}{% url 'classentry_detail_from_class' object.pk item.pk %}{% elif item %}{% url 'add_classentry_from_class' item.pk %}{%elif object %}{% url 'classentry_detail' object.pk %}{% else %}{% url 'classentry_create' %}{% endif %}" method="post">
{% csrf_token %}
    <div class="form-group card-body">
        {% for field in form %}
            <div>{{ field.label }}{% if field.name == "schtick" and object.pk %}
                &nbsp;<span class="span"><a href="{% url 'schtick_create_from_class' object.pk %}">New</a></span>
            {% elif field.name == "flaw" and object.pk %}
                &nbsp;<span><a href="{% url 'flaw_create_from_class' object.pk %}">New</a></span>
            {% endif %}</div><div>{{field}}
            </div>
        {% endfor %}
    <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>
</div>
{% endblock content %}