{% extends "base.html" %}
{% load action_tags %}

{% block head %}
    {{ filter.form.media.css }}
{% endblock head %}

{% block menu-inline %}
    <li class="nav-item base">
                    <h5>
                        <a class="nav-link" href="{% url 'flaw_create' %}">Create new</a>
                    </h5>
    </li>
{% endblock menu-inline %}
{% block content %}
<div class="container">
    <h3>Flaws</h3>
    <table class="table">
        <thead class="table">
        <tr scope="row">
            <th scope="col">
                Name
            </th>
            <th scope="col">

            </th>
            <th scope="col">
                Benefit
            </th>
            <th scope="col">

            </th>
            <th scope="col">
                Description
            </th>
        </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr scope="row">
                    <td>
                        <a href="{%  url 'flaw_detail' object.pk %}">{{ object }}</a>
                    </td>
                    <td>
                    </td>
                    <td>
                        {{object.value}}
                    </td>
                    <td>
                    </td>
                    <td>
                        {%if object.description%}{{ object.description|truncatechars:40 }}{% endif %}
                    </td>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock content %}