{% extends "base.html" %}
{% load action_tags %}

{% block head %}
    {{ filter.form.media.css }}
{% endblock head %}
<h5>Action!</h5>
      {%block menu-inline%}
                    <li class="nav-item base"><h5>
                        <a class="nav-link" href="{% url 'characters' %}">Characters</a>
                    </h5></li>
                    <li class="nav-item base"><h5>
                        <a class="nav-link" href="{% url 'schticks' %}">Schticks</a>
                    </h5></li>
                    <li class="nav-item base"><h5>
                        <a class="nav-link" href="{% url 'flaws' %}">Flaws</a>
                    </h5></li>
                    <li class="nav-item base"><h5>
                        <a class="nav-link" href="{% url 'campaigns' %}">Campaigns</a>
                    </h5></li>
                    <li class="nav-item base"><h5>
                        <a class="nav-link" href="{% url 'characterclass_list' %}">Classes</a>
                    </h5></li>
                    <li class="nav-item base"><h5>
                        <a class="nav-link" href="{% url 'schticktypes' %}">Schtick Types</a>
                    </h5></li>
                    <li class="nav-item base"><h5>
                        <a class="nav-link" href="{% url 'prereqs' %}">Prereqs</a>
                    </h5></li>
                    <li class="nav-item base"><h5>
                        <a class="nav-link" href="{% url 'campaigns' %}">Campaigns</a>
                    </h5></li>
      {%endblock menu-inline%}
{% block content %}
<div class="main container">
        <h1>Action!</h1>
</div>

{% endblock content %}