{% load action_tags %}

{% block head %}
    {{ filter.form.media.css }}
{% endblock head %}

{% block menu-inline %}
{% endblock menu-inline %}
{% block content %}
<div class="main"></div>
<div class="container">
{% csrf_token %}
<form class="card row" action="/prereq/{{object.pk}}/" method="post">
    <div class="form-group card-body">
        {% for field in form %}
            <div>{{ field.label }}{{ field }}<div>
        {% endfor %}
    <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form></div>
{% endblock content %}