{% extends "base.html" %}
{% load action_tags %}

{% block head %}
    {{ filter.form.media.css }}
{% endblock head %}

{% block menu-inline %}
    <li class="nav-item base">
                    <h5>
                        <a class="nav-link" href="{% url 'schticktype_create' %}">Create new</a>
                    </h5>
    </li>
{% endblock menu-inline %}
{% block content %}
    <table class="table table-striped">
        <thead class="table">
        <tr scope="row">
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Members
            </th>
        </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr scope="row border">
                    <td scope="col">
                        <a href="{%  url 'schticktype_detail' object.pk %}">{{ object.name }}</a>
                    </td>
                    <td scope="col">
                            <h4>{% for schtick in object.schticks.all %}
                                <a class="badge badge-primary hollow" href="{% url 'schtick_detail' schtick.pk %}">{{ schtick.name }}</a>
                            {% endfor %}</h4>
                            {% if object.schticktype_list %}
                                {% for type in object.schticktype_list.all %}
                                    <h4>{% for schtick in type.schticks.all %}
                                        <a class="badge badge-primary hollow" href="{% url 'schtick_detail' schtick.pk %}">{{ schtick.name }}</a>
                                    {% endfor %}</h4>
                                {% endfor %}
                            {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}