<!DOCTYPE html>
<html lang="en">
<head class="d-print-none">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if object %}{{object}}{%else%}Action{%endif%}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'open-iconic-bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'open-iconic-master/font/css/open-iconic-bootstrap.css'%}">

    {% block head %}
    {% endblock head %}
</head>
<body>
        <badge class="nav-item"><a href="#">Debug information</a></badge>
        <div id="" class="collapse">
           <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>
        </div>
        {% for message in messages %}
        {{message}}
        {% endfor %}
    <nav class="d-display-none fixed-top nav col-sm navbar navbar-expand-md navbar-light base mw-40">
                    <ul class="nav nav-pills base">
                         <li class="nav-item base">
                    <h1>
                        <a class="nav-link" href="{% url 'home' %}">Action!</a>
                    </h1>
                    </li>
                        {% block menu-inline %}
                        {% endblock menu-inline %}
                    </ul>
            {% block top_panel %}
                {% endblock top_panel%}
    </nav>
<div class="main"></div>
    {%if filter %}
            <span class="col-12" type="button" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                <h3><a class="badge badge-primary">Filter</a></h3></span>
           <div class="container collapse" id="filterCollapse">
            <form action="" method="get">
               <div class="row">
                   <div class="col-sm"><div><h5>{{filter.form.name.label}}</h5></div><div>{{filter.form.name}}</div></div>
                   <div class="col-sm"><div><h5>{{filter.form.cost.label}}</h5></div><div>{{filter.form.cost}}</div></div>
                   <div class="col-sm"><div><h5>{{filter.form.tier.label}}</h5></div><div>{{filter.form.tier}}</div></div>
                   <div class="col-sm"><div><h5>{{filter.form.description.label}}</h5></div><div>{{filter.form.description}}</div></div>
                   <div class="col-sm"><div><h5>{{filter.form.type__name.label}}</h5></div><div>{{filter.form.type__name}}</div></div>
                   <div class="col-12"><div><h5>{{filter.form.type.label}}</h5></div><div>{{filter.form.type}}</div></div>
                   <div class="col-12"><div><h5>{{filter.form.prereqs.label}}</h5></div><div>{{filter.form.prereqs}}</div></div>
                    <div class="col-sm">
                        <div>&nbsp;</div>
                        <div><input class="button" type="submit" value="Send"/></div>
                    </div>
               </div>
            </form>
            </div>
    {% endif %}
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
{% block sidebar %}{% endblock sidebar %}
<div class="container">
    {% block rightsidebar %}
    <div class="wrapper">
            <div id="sidebar" class="well">

            </div><!--well -->
          </div><!--span-->
    {% endblock rightsidebar%}
</div>
</div>
</body>
       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
               integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
               crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

<script src="{% static 'site.js' %}"></script>
</html>