@media screen and (max-width:768px) {
    body{
        padding-top: 5rem;
    }
}

.schtick-row {
    overflow: hidden;
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
}

body {
    font-family: Garamond, serif;
    font-size: 18px;
    background-color: rgba(106,255,106,0.25);
    margin-bottom: 3cm;
    border-color: #3AFF3A;
    color: #3A3A3A;
}

body.print{
    color: #000;
    background-color: #000;
    border-color: #000;
}

.icon {
}

/*
.wrapper {
        position:fixed;
        top:220px;
        right:0px;
        opacity: 1;
}

#sidebar {
        min-width: 23em;
        max-width: 23em;
        opacity: 1;
}
*/

nav{
    background-color: rgba(85, 212, 85, 0.25);
    border-color: #00FA97;
    padding-top: 2em;
}

.nav-pills{
    border-color: rgba(85, 212, 85, 0.1);
}

.nav-item{
    margin: 10px;
}

nav>div>ul>li{
    background-color: rgba(85, 212, 85, 1);
    border-color: rgba(85, 212, 85, 1);
    border-radius: 8px;
}

nav>div>ul>li:hover, nav>div>ul>li:hover>h5>a, a:hover{
    background-color: rgba(42, 170, 42, 1);
    border-color: rgba(42, 170, 42, 1);
}

/*
.navbar-fixed-top {
padding-top: 10px;
}
*/

.alert-success{
    margin-top: 70px;
}

.form-control{
    background-color: rgba(170, 212, 106, 0.1);
    border: 1px solid #00FA97;
    color: #3AAA3A;
}

.form-inline label {
    justify-content: left;
}

.badge-primary{
    background-color: rgba(85,212, 85, 1);
    color: black;
    padding: 5px;
    margin-top: 0px;
    font-weight:1;
    font-size:16px;
    font-weight: 500;
    line-height: 1.2;
}
.badge-primary:hover{
    background-color: rgba(85,212, 85, 1);
}

.badge-primary-small{
    padding: 0px;
    margin-top: 0px;
}

.hollow{
    background-color: rgba(85,212, 85, 0.25);
    border: 1px solid rgba(85,212, 85, 1);
}


.label-base{
    line-height: 1.4;
    margin-bottom: 5px;
}

.label-tag-header{
    margin-top: 0px;
    margin-bottom: 0px;
}

.label-tag{
    margin-left: 0px;
    margin-right: 5px;
}

select option {
    border-color: #3AAA3A;
    background: rgba(85, 212, 85, 0.3);
    color: #005500;
}

.form-control:focus{
    background-color: rgba(170, 212, 106, 0.1);
    color:#000;
    border-color: #FA9700;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 16px rgba(17106, 212, 106, .6);
}

input:hover>.btn{
    background-color: rgba(85, 212, 85, 1);
}

a, .btn-primary, .btn-submit:hover {
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(85, 212, 85, 1);
    border-color: rgba(85, 212, 85, 1);
}

a:hover, li:hover > h5 > a , li > h3 > div:hover, div:hover > a, div> a:hover>span.glyphicon, button,
button:hover>a, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, a.badge-primary:hover,
 a.badge-primary:hover {
    text-decoration:none;
    background-color: rgba(42, 170, 42, 1);
    color: rgba(170, 255, 170, 1);
    border-color: #4Fff4F;
}

th>a{
    min-width:24px;
    max-width:24px;
}

td>a , th>a{
    background-color: rgba(85, 212, 85, 0);
    color: rgba(0, 85, 0, 1);
    border-color: #4Fff4F;
    padding: 3px;
    border-radius: 3px;
}


.nav>li>a:hover, td>a:hover{
    background-color: rgba(42, 170, 42, 1);
    color: rgba(170, 255, 170, 1);
    border-color: #4Fff4F;
}

.main{
    padding: 100px 3rem 0rem 3rem !important;
}

/*
.well {
background-color: rgba(255, 212, 85, 0.1);
border-radius: 8px;
border-color: #FA9700;
}

.well>div>input{
background-color: rgba(255, 212, 85, 0.1);
}
*/

.popover, .popover-body{
    justify-content: left;
}

.btn{
    transition: None;
}

.blank{
    background-color: transparent;

}

.blank:hover, .blank:active{
    background-color: transparent;
    color: rgba(42, 170, 42, 1);
}

a .oi{
    background-color : transparent;
}

.charmlist, a .charmlist , .charmlist a{
    font-size: 1.125rem;
    font-weight: 700;
    background-color: transparent;
    color: rgba(42, 170, 42, 1);
}

span.badge.badge-primary.rounded.charmlist {
    color: rgba(85, 212, 85, 1);
    background-color: rgba(85, 212, 85, 0);
    border-color: rgba(85, 212, 85, 1);
}

span.badge.badge-primary.rounded.charmlist:hover, .charmlist :hover,  a .charmlist:hover , .charmlist a:hover{
    color: rgba(42, 170, 42, 1);
    background-color: rgba(85, 255, 85, 1);
}

.no_border{
    border: none;
}

/*
background-color: rgba(170, 42, 42, 1);
color: rgba(255, 255, 255, 1)
*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 150px 10px 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 150px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.table, td{
    padding: 0rem .75rem 0rem;
    vertical-align: middle!important;
    border-bottom: 1px solid rgba(85, 255, 85, 1);
}

h4{
    margin-bottom: 0.2rem;
}

.hollow > span{
    background-color:transparent;
    color: rgba(85, 170, 85, 1);
    border: 1px solid rgba(42, 170, 42, 1);
}

.print, .print > span{
    font-family: Garamond, serif;
    font-size: 18px;
    background-color:transparent;
    border: 0px transparent;
    color: #000;
}

.charm_prereq {
    border-radius: 8px;
    font-weight: 700;
    font-size: 110%;
}

.form-control-sm{
    font-size:1rem;
}

@media print {
    body{
    }
}

div.charmprintlist{
    max-width: 90%!important;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;

}