{% extends "base.html" %}
{% load action_tags %}

{% block head %}
    {{ filter.form.media.css }}
{% endblock head %}

{% block menu-inline %}
    <li class="nav-item base">
        <h5>
            <a href="#" class="nav-link" data-toggle="collapse" data-target="#chardata">
                Character
            </a>
        </h5>
    </li>
    <li class="nav-item base">
        <h5>
            <a href="#" class="nav-link" data-toggle="collapse" data-target="#attributes">
                Attributes
            </a>
        </h5>
    </li>
    <li class="nav-item base">
        <h5>
            <a href="#" class="nav-link" data-toggle="collapse" data-target="#skills">
                Skills
            </a>
        </h5>
    </li>
    <li class="nav-item base">
        <h5>
            <a href="#" class="nav-link" data-toggle="collapse" data-target="#schticks">
                Schticks
            </a>
        </h5>
    </li>
    <li class="nav-item base">
        <h5>
            <a href="#" class="nav-link" data-toggle="collapse" data-target="#flaws">
                Flaws
            </a>
        </h5>
    </li>
    <li class="nav-item base">
        <h5>
            <a href="#" class="nav-link" data-toggle="collapse" data-target="#charclass">
                Class
            </a>
        </h5>
    </li>

{% endblock menu-inline %}
{% block content %}
    <span>
    </span>
    <form id="character" action="{% url 'character_detail' object.pk %}" method="post">
        <div class="main"></div>
        <div class="container">
        {% csrf_token %}
            <div id="chardata" class="collapse card card-body row {{ section.character }}">
                <div class="form-group card-body">
                    {% for field in form %}
                        <div>{{ field.label }}{{ field }}</div>
                    {% endfor %}
                    <input type="hidden" id="id_character" value="{{ object.pk }}">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
            <div id="attributes" class="card collapse {{ section.attribute }}">
                <div>{{ object.xp.attribute }}</div>
                <div class="card-body row">
                    {{ character_attribute_formset.management_form }}
                    {% for form in character_attribute_formset %}
                        <div class="form-inline col-sm-4" style="margin-bottom:20px">
                            {% for field in form %}
                                {% if field.label == "Attribute" %}
                                    <div class="col-sm-5">{{ field }}</div>
                                {% else %}
                                    {% if not field.is_hidden %}
                                        <div class="col-3">
                                            <div class="float-left">{{ field }}</div>
                                        </div>
                                    {% else %}
                                        <div class="col-3">{{ field }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <input type='hidden' id='id_form{{ form.id }}' name='form{{ form.id }}'
                                   value='{{ form.id }}'/>
                        </div>
                    {% endfor %}
                    <div class="row card-body">
                        <input type="submit" name="character_attribute" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </div>

            <div id="skills" class="card collapse {{ section.skill }}">
                <div class="form-group card-body">
                    {{ character_skill_formset.management_form }}
                    {% for charform in character_skill_formset %}
                        <div class="form-inline row" style="margin-bottom:20px">
                            <div class="col">
                                    {% for field in charform %}
                                        {% if field.name == "skill" %}
                                            {{ field.form.instance.skill.name }}
                                            {{ field }}
                                            {{ field.errors }}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                        <div class="form-inline row" style="margin-bottom:20px">
                            {% for key in character_proficiency_formsets %}
                                {% if key == charform.instance %}
                                    {% with character_proficiency_formsets|get_item:key as pformset %}
                                        {{ pformset.management_form }}
                                        {% for pform in pformset %}
                                            <div class="col-sm-4">
                                                {% if pform.id.initial == None %}
                                                    {% for field in pform %}
                                                        {% if field.name != "DELETE" %}
                                                            {{ field }}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for field in pform %}
                                                        {% if field.name == "proficiency" %}
                                                            {{ field.form.instance.proficiency.name }}{{ field }}
                                                            {{ field.errors }}
                                                        {% elif field.name == "DELETE" %}
                                                        {% else %}
                                                            {{ field }}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="row card-body">
                    <input type="submit" name="character_skill" class="btn btn-primary" value="Submit">
                </div>
            </div>
            <div id="schticks" class="card collapse {{ section.schtick }}">
                <div class="form-group card-body">
                    {{ character_schtick_formset.management_form }}
                    {% for form in character_schtick_formset %}
                        <div class="form-inline" style="margin-bottom:20px">
                            {% for field in form %}
                                {% if field.label == "Schtick" %}
                                    <div class="col">{{ field }}{{ field.errors }}</div>
                                {% else %}
                                    {% if not field.is_hidden %}
                                        <div class="col">
                                            <div class="float-left">{{ field }}</div>
                                        </div>
                                    {% else %}
                                        <div>{{ field }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <input type='hidden' id='id_form{{ form.id }}' name='form{{ form.id }}'
                                   value='{{ form.id }}'/>
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="row card-body">
                        <input type="submit" name="character_attribute" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </div>
            <div id="flaws" class="card collapse {{ section.flaw }}">
                <div class="form-group card-body">
                    {{ character_flaw_formset.management_form }}
                    {% for form in character_flaw_formset %}
                        <div class="row form-group" style="margin-bottom:20px">
                            {% for field in form %}
                                {% if field.label == "Flaw" %}
                                    <div class="col-sm-5">{{ field }}</div>
                                {% else %}
                                    {% if field.label == "Notes" %}
                                        <div class="row">{{ field }}
                                            {{ field.errors }}</div>
                                    {% else %}
                                        {% if not field.is_hidden %}
                                            <div class="col-3">
                                                <div class="float-left">{{ field.label }}{{ field }}</div>
                                            </div>
                                        {% else %}
                                            <div>{{ field }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {{ form.instance.flaw.description }}
                            <input type='hidden' id='id_form{{ form.id }}' name='form{{ form.id }}'
                                   value='{{ form.id }}'/>
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="row card-body">
                        <input type="submit" name="character_attribute" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </div>
            <div id="charclass" class="card collapse {{ section.characterclass }}">
                <div class="form-group card-body">
                    {{ character_characterclass_formset.management_form }}
                    {% for form in character_characterclass_formset %}
                        <div class="row" style="margin-bottom:20px">
                            {% for field in form %}
                                {% if field.label == "character_class" %}
                                    <div class="col-sm-5">{{ field }}{{ field.errors }}</div>
                                {% else %}
                                    {% if field.label == "Notes" %}
                                        <div class="col-3">{{ field }}</div>
                                    {% else %}
                                        {% if not field.is_hidden %}
                                            <div class="col-3">
                                                <div class="float-left">{{ field.label }}{{ field }}</div>
                                            </div>
                                        {% else %}
                                            <div>{{ field }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-body" style="margin-bottom:20px">
                        {% for key in character_classentry_formsets %}
                                {% if key == form.instance %}
                                    {% with character_classentry_formsets|get_item:key as cformset %}
                                        {{ cformset.management_form }}
                                        {% for cform in cformset %}
                                            <div class="row">
                                                {% if cform.id.initial == None %}
                                                    {% for field in cform %}
                                                        {% if field.is_hidden %}
                                                            {{ field }}
                                                        {% else %}
                                                            {% if field.name == "classentry" %}
                                                                <div class="col-sm-12">{{ field }}{{ field.errors }}</div>
                                                            {% else %}
                                                                {% if field.name != "DELETE" %}
                                                                    <div class="col-12">{{ field }}</div>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <div class="col-sm-3"></div>
                                                {% else %}
                                                    {% for field in cform %}
                                                        {% if field.name == "classentry" %}
                                                            <div class="col-sm-6">{{ field }}{{ field.errors }}</div>
                                                        {% else %}
                                                            {% if not field.is_hidden %}
                                                                <div class="col-sm-3">{{ field }}</div>
                                                            {% else %}
                                                                <div>{{ field }}</div>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                                {% endif %}
                        {% endfor %}
                    <div class="row"><hr></div>
                    {% endfor %}
            <div class="row card-body">
                <input type="submit" name="character_class" class="btn btn-primary" value="Submit">
            </div>
        </div>
        </div>
        </div>
    </form>
{% endblock content %}