{% extends "base.html" %}

{% block head %}
    {{ filter.form.media.css }}
{% endblock head %}

{% block content%}
<div class="main"></div>
<div class="container">
<form id="character" class="card row" action="/characters/{{object.pk}}/" method="post">
{% csrf_token %}
<div class="form-group card-body">
    {% for field in form %}
        <div>{{ field.label }}{{field}}</div>
    {%  endfor %}
        <input type='hidden' id='id_form{{form.id}}' name='form{{form.id}}' value='{{form.id}}' />
    <input type="submit" class="btn btn-primary" value="Submit">
</div>
</form>
</div>
{% endblock content%}
