{% extends "base.html" %}

{% block head %}
    {{ filter.form.media.css }}
{% endblock head %}

{% block content %}
    <div class="main"></div>
    <div class="main"></div>
    <table class="table">
        <thead class="table">
        <tr>
            <th class="table">
                Name
            </th>
            <th class="table">
                Points
            </th>
        </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td class="table">
                        <a href="/characters/{{object.pk}}/skill">{{ object.name }}</a>
                    </td>
                    <td class="table">
                        {{ object.points }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}